.welcomeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.welcomeContainer h1 {
    font-size: 38px;
    color: var(--mandys-pink);
    font-weight: bold;
    margin-bottom: 0;
}

.welcomeContainer h2 {
    font-size: 22px;
    font-weight: lighter;
    margin-bottom: 0;
}

.welcomeContainer h3 {
    font-size: 22px;
    font-weight: lighter;
    margin-top: 2px;
    margin-bottom: 40px;
}