.navBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 120px;
    background-color: var(--ebony);
    padding: 20px 0;
    font-size: 18px;
}

.navLink:hover {
    color: var(--mandys-pink);
}

.navLink {
    text-decoration: none;
    color: white;
    padding-bottom: 5px; 
}

.activeLink {
    color: var(--mandys-pink); 
    text-decoration: underline;
    text-decoration-color: var(--mandys-pink); 
    text-underline-offset: 18px; 
}

.externalLink {
    text-decoration: none;
    color: white;
}

.externalLink::after {
    content: " ↗"; 
    font-size: 0.8em;
    margin-left: 5px;
    display: inline; 
}

.profileDropdown {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}
  
.profileTrigger {
    display: flex;
    align-items: center;
    gap: 10px;
}
  
.dropdownArrow {
    font-size: 12px;
    margin-left: 8px; 
}
  
.dropdownMenu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: var(--ebony);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
    margin-top: 23px;
    padding: 10px 0;
    border-radius: 4px;
}
  
.dropdownItem {
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    color: white;
}
  
.dropdownItem:hover {
    color: var(--mandys-pink);
}

.mobileNavBar {
    display: none;
    background-color: var(--ebony);
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
}

.mobileNavLeft {
    display: flex;
    align-items: center;
}

.hamburger {
    font-size: 24px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
}

.activePage {
    margin-left: 15px;
    font-size: 16px;
    text-align: center;
}

.mobileMenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    background-color: #080B12;
    padding: 20px;
}


@media (max-width: 480px) {
    .navBar {
        display: none;
    }

    .mobileNavBar {
        display: flex;
    }
}


@media screen and (min-width: 500px) and (max-width: 1024px) {
    .navBar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 80px;
        background-color: var(--ebony);
        padding: 20px 0;
        font-size: 16px;
    }
}