.profilesContainer {
    display: flex;
    flex-direction: row;
    column-gap: 60px;
    font-size: 18px;
}

.profileSelection h1 {
    font-weight: lighter;
    font-size: 40px;
    margin-bottom: 70px;
}

