:root {
  font-family: "Rubik", sans-serif;
  font-synthesis: none;
  --mandys-pink: #F4B3B3 ;
  --asphalt: #070202; 
  --ebony: #101624;
  --swamp: #002028;
  color: white;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%; 
  background-color: var(--asphalt);
}

h1 {
  font-size: 34px;
  font-weight: 400;
  margin: 0;
}

@media (max-width: 480px) {
  h1 {
    font-size: 28px;
    font-weight: 400;
    margin: 0;
  }
}
